body{
    max-width: 50%;
    background:black;
}

h1{
    color: rgb(0, 0, 255);
    background-color:lime;
    font-size: 60px;
    text-align: center;
    font-style:italic;
}

h2{
    color: aqua;
    text-align: center;
    font-size: 40px;
}
 
h3{
    color: lime;
    text-align: center;
    
}

form{
    text-align: center;
}
input{
    background: blue;
}
p{
    color: blueviolet;
}
